@color:#7f9de9;
@color1:#39c88a;
@color2:#ff9829;
@color3:#ff455c;
.chart-box{
    .title1{
        font-size:17px;
        font-weight: bold;
        font-color:#404040;
        height:17px;
        line-break:17px;
        margin-bottom:36px;
    }
    .title1:before{
        display:inline-block;
//      position:absolute;
        content:" ";
        width:4px;
        height:17px;
        background:#FF603B;
        margin-right:8px;
        
        border-radius: 1px;
    }
    .title2{
        margin-bottom: 18px;
        font-size:16px;
        color:#404040;
    }
    .chart{
        width:68px;
        text-align: center;
        &:first-child{
            margin-left: 120px;
        }
        img{
            width:100%;
            height:auto;
        }
       
        .text{
            margin-bottom:16px;
            height:34px;
            line-height:34px;
            width:68px;
            border-radius:3px;
            border:2px solid @color;
            font-size: 18px;
            font-weight: bold;
            position: relative;
            z-index: 2;
            background:#fff;
            .sanjiao{
                position: absolute;
                width:12px;
                height:12px;
                top:27px;
                left:26px;
                z-index: -1;
                background:#fff;
                border-radius: 3px;
                border-bottom:2px solid #000000;
                border-right:2px solid #000000;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg);       /* IE 9 */
                -webkit-transform: rotate(45deg);   /* Safari and Chrome */
                -o-transform: rotate(45deg);        /* Opera */
                -moz-transform: rotate(45deg);
                border-color: inherit;
            }
        }
        .thin-text{
            border-color:@color;
        }
        .normal-text{
            border-color: @color1;
        }
        .overweight-text{
            border-color: @color2;
        }
        .fat-text{
            border-color: @color3;
        }
       .chart-pro{
           margin-top: 10px;
           margin-bottom:10px;
           height:10px;
           border-radius: 5px;
           .progress-bar{
               height:inherit;
               border-radius: 5px 0 0  0;
           }
       }
       .percent{
           margin-top:25px;
           color:#404040;
           font-size:28px;
           line-height:28px;
       }
    }
    .pro-box{
        height: 18px;
        border-radius: 9px;
        margin-top:36px;
    }
    .thin-pro{
        background:@color;
    }
    .normal-pro{
        background:@color1;
    }
    .overweight-pro{
        background:@color2;
    }
    .fat-pro{
        background:@color3;
    }
    .cont-num{
        margin-top:12px;
        width:100%;
        text-align: center;
        font-size:26px;
        color:#767676;
        #contNum{
            color:#404040;
        }
    }
}
