html{height: 100%;}
body{padding: 0;margin: 0;background: url(../img/bg.png) center;font: 16px/1.5 arial, "微软雅黑";text-align: center;height: 100%;}
.box{width: 408px; margin: 50px auto 0;padding: 40px 22px;text-align: center;background-color: rgb(240,243,252);opacity: 0.92;
     .login{.logo{img{width: 100px;};h5{margin:20px auto 40px ;font-size: 14px;color: #767676;};}
            .input{width: 100%;position: relative;input{width: 100%;line-height: 48px;text-indent: 14px;font-size: 14px;border: 1px solid #d7d7dd;background-color: rgba(255,255,255,0);}
                  span{display:block;background-color:rgba(240,243,252,1);position: absolute;top: 16px;left: 14px;font-size: 14px;color: #767676;z-index: -1;opacity: 0;}}
            .check{position: relative;margin-top: 6px;font-size: 12px;text-align: left;#img{position: absolute;top: 6px;left: 0;display: block;background-image: url(../img/unselect.png);background-size:cover;width: 12px;height: 12px;z-index: -1;}
                  input{opacity: 0;margin-right: 3px;cursor:pointer;&:checked #img{background-image: url(../img/select.png);}}}
            #l_in{font-size: 15px;margin-top: 18px;color: rgb(250,240,250);background: -webkit-linear-gradient(left, #ff522a , #f56240);background: -o-linear-gradient(right, #ff522a , #f56240);background:  -moz-linear-gradient(right,#ff522a , #f56240);background:  linear-gradient(to right, #ff522a , #f56240);letter-spacing: 3px;}
            }
     }
.footer{margin: 0;padding: 0;position: absolute;bottom: 20px;width: 100%;text-align: center;font-size: 14px;color: rgba(230,240,235,.7);font-weight: 600;}
