body{background-color: #edeef0;}
.hr{border-bottom: 1px solid #ccc;padding-bottom: 10px;}
.padding{padding: 20px 0;}
.marginL{margin-left: 20px;}
input[type="radio"]{vertical-align: text-bottom;margin:0 2px 0 6px;}
.name{color: #666;line-height: 30px;font-size: 14px;font-weight: 500;}
.student{-webkit-margin-after: 1em;-webkit-margin-before: 1em;-webkit-margin-start: 0;-webkit-margin-end: 0;color: #666;font-size: 14px;margin: 0px auto auto 15px ;line-height: 80px;}
.header{background-color: #36597f;padding: 15px 0;}
.aRight{text-align: right;}
.cM{margin: 30px auto;text-align: center;}
//表头样式
#title{text-align: center;font: 24px/30px '\5FAE\8F6F\96C5\9ED1';color: #36597f;padding: 20px 0 40px 0;}
//打印样式
#aPrint{border: none;font-weight: 700;color: #36597f;font-size: 16px;text-decoration: underline;display: block;margin-top: 50px;&:hover{background-color:rgba(0,0,0,0);cursor: pointer;}}
.da{font: 16px/20px '\5FAE\8F6F\96C5\9ED1' 800;letter-spacing: 2px;width: 120px;margin-top: 12px;}
.top{color: #f0f2f4;width: 75%;min-width:1000px;margin: 0 auto;font: 16px/20px '\5FAE\8F6F\96C5\9ED1';}
.top-right{text-align: right;a{margin-left: 20px;color: #f0f2f4;}}
.work{background-color: #eee;padding: 20px 0;.button{text-align: right;padding: 15px 0;
      a{background-color: #36597F;color: #f0f2f4;margin-left: 10px;&:hover{background-color: #3695DA;};img{margin-right: 5px;}}}}
.function{width: 75%;min-width:1000px;margin: 0 auto;h3{font:22px/30px '\5FAE\8F6F\96C5\9ED1';color: #75983e;};p{color: #75983e;font: 14px/16px '\5FAE\8F6F\96C5\9ED1';line-height: 38px;}
          a{font: 14px/22px '\5FAE\8F6F\96C5\9ED1';border: 1px solid #75983e;&:hover{color: #fff;background-color: #5cb85c;}}}
.footer{margin-top: 25px;background-color: #36597f;padding: 20px 0;text-align: center;font: 16px/20px '\5FAE\8F6F\96C5\9ED1';color: #f0f2f4;}
//表格样式
table th{text-align: center;color: #333;background-color: #f0f1f2;display: table-cell;vertical-align: inherit !important;}
table td{text-align: center;display: table-cell;vertical-align: inherit !important;background-color: #f9f9f9 !important;font: 14px/16px tahoma, helvetica, arial, '\5FAE\8F6F\96C5\9ED1';}
//体重指数图表
h4{margin: 30px 0;font: 700 18px/20px '\5FAE\8F6F\96C5\9ED1';border-left: 5px solid #36597f;color: #333;padding-left: 10px;}
.m-chart{text-align: center;.title{line-height: 30px;color: #aa3128;font-size:16px;margin-bottom:15px ;};.chart{width: 100px;height: 150px;display: inline-block;padding: 0 20px;font: 16px/18px tahoma, helvetica, arial, '\5FAE\8F6F\96C5\9ED1';color: #333;}}
h5{font: 700 16px/30px '\5FAE\8F6F\96C5\9ED1';padding-left: 15px;color: #333;line-height: 50px;}
//班级成绩统计
.cT{width: 100px;font: 22px/36px '\5FAE\8F6F\96C5\9ED1';}
.fg{width: 120px;font: 16px/24px '\5FAE\8F6F\96C5\9ED1';}
//弹窗
.fp{margin: 30px auto;width: 60%;button{background-color: #36597f;color: white;font: 16px/20px '\5FAE\8F6F\96C5\9ED1';&:hover{color: white;background-color: #375965;}}}
.tableM{font: 16px/32px '\5FAE\8F6F\96C5\9ED1';text-align: center;width:55px;}
.tableS{font: 16px/32px '\5FAE\8F6F\96C5\9ED1';text-align: center;width:80px;}
//上传按钮
.upFile{position: relative;width: 250px;height: 36px;text-align: center;border: 1px solid #ccc;margin: 20px auto 30px;overflow: hidden;}
.fileIn{position: absolute;top: 0;left: 0;width: 250px;line-height: 36px;text-align: center;font-size: 17px;font-weight: bold;color: #000;cursor: pointer;}
//健康档案表格
.healthTab{width: 100%;border-collapse:collapse ;border-spacing: 0;display: table;th,td{border: 1px solid #ababab;padding: 15px 10px;}}
.imgCode{width: 192px;text-align: center;float: left;span{width: 100%;display: block;margin-top: 8px;}}
//系统管理
#sysD{padding: 10px 10px;display: none;a{margin-left: 10px;border: 0;}}
