div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
body,
table,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  margin: 0;
  padding: 0;
}
.inline {
  display: inline-block;
  cursor: pointer;
}
.checked {
  color: #ff603b !important;
  font-weight: bold;
}
.paddingL {
  padding-left: 40px;
}
.paddingR {
  padding-right: 40px;
}
.underline {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #FF603B;
  position: absolute;
  bottom: 24px;
}
body {
  background-color: #edeef0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  transition: all .8 ease;
  min-width: 1200px;
  position: relative;
}
body .header {
  height: 82px;
  line-height: 82px;
  background-color: #fff;
  padding-left: 50px;
}
body .header .logo img {
  margin-right: 42px;
}
body .header .ul {
  margin-left: -4px;
  padding: 0;
  display: inline-block;
  background-color: #fff;
}
body .header .ul ul {
  position: relative;
}
body .header .ul ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 22px;
}
body .header .ul ul li a {
  color: #767676;
  font-size: 15px;
  text-decoration: none;
  padding: 0 10px;
}
body .header .ul ul li a:hover + div {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #FF603B;
  position: absolute;
  bottom: 24px;
}
body .header .ul ul li div {
  position: absolute;
}
body .header .userInfo {
  background-color: #fff;
  padding-right: 50px;
  overflow: auto;
  position: relative;
}
body .header .userImg {
  padding: 0 10px 0 20px;
}
body .header .userName {
  font-size: 12px;
  padding-top: 24px;
  padding-bottom: 10px;
  color: #767676;
  text-align: left;
}
body .header .schoolName {
  font-size: 12px;
  color: #adadad;
  background: url(../img/school.png) no-repeat left top;
  background-size: 12px;
  text-indent: 20px;
  padding-top: 1px;
  padding-right: 20px;
}
body .header .drop {
  position: absolute;
  right: 40px;
  width: 7px;
  height: 7px;
    cursor: pointer;
}
body .function {
  height: 44px;
  line-height: 44px;
  background-color: #34393f;
}
body .function .biaoT {
  position: relative;
  width: 217px;
  height: 44px;
  line-height: 44px;
  background-color: #41454e;
}
body .function .biaoT .biaoNow {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
body .function .biaoT .biaoNow a {
  padding: 0 8px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
body .function .biaoT .biaoNow .biaoNow-ico {
  display: inline-block;
  background-size: 100%;
}
body .function .biaoT .biaoNow .perjk {
  float: left;
  margin-left: 30px;
  width: 24px;
  height: 24px;
  margin-top: 10px;
  background: url(../img/perjk.png) no-repeat;
}
body .function .biaoT .biaoNow .more-dowun {
  float: right;
  width: 14px;
  height: 8px;
  background: url(../img/moredown_gray.png) no-repeat;
  margin-top: 17px;
  margin-right: 30px;
}
body .function .biaoT .biaoList {
  position: absolute;
  top: 34px;
  right: 22px;
  width: 164px;
  line-height: 40px;
  border-radius: 2px;
  padding: 0 18px 0 20px;
  background-color: #555a66;
  font-size: 12px;
  display: none;
  z-index: 100;
}
body .function .biaoT .biaoList a {
  padding-left: 8px;
  text-decoration: none;
  color: #fff;
}
body .function .biaoT .biaoList .sj {
  position: absolute;
  top: -6px;
  right: 16px;
}
body .function .input {
  position: relative;
  height: 24px;
  line-height: 24px;
  margin-left: 14px;
  background-color: #41454e;
  font-size: 12px;
  border: 1px solid #484c57;
  border-radius: 2px;
  padding: 0 8px;
  min-width: 125px;
}
body .function .input .h5 {
  color: #fff;
  padding-right: 10px;
}
body .function .input .cR {
  color: #f5f5f5;
}
body .function .input img {
  margin-left: 8px;
}
body .function .input .inputList {
  position: absolute;
  top: 22px;
  left: -1px;
  width: 102%;
  display: none;
  border-bottom: 1px solid #484c57;
  border-left: 1px solid #484c57;
  border-right: 1px solid #484c57;
  border-radius: 0 0 2px 2px;
  background-color: #41454e;
  padding-top: 2px;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  overflow-y: auto;
}
body .function .input .inputList .list {
  padding: 0 8px;
  max-height: 119px;
  overflow-y: auto;
}
body .function .input .inputList .list div {
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #575c69;
}
body .function .input .inputList .list div:last-of-type {
  border-bottom: none;
}
body .function .input .inputList .list::-webkit-scrollbar {
  width: 4px;
}
body .function .input .inputList .list::-webkit-scrollbar-track {
  background-color: #575c69;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 5px 0;
}
body .function .input .inputList .list::-webkit-scrollbar-thumb {
  background-color: #ff603b;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.t_drop .now {
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  background-color: #f1f2f3;
}
body .function .date-input {
  color: #fff !important;
  height: 22px;
  line-height: 22px;
  background-color: #41454e;
  font-size: 12px;
  border-width: 0;
  padding: 0 8px;
  min-width: 125px;
}
body .function .single {
  color: #fff;
  margin-left: 14px;
}
body .function .single .md {
  position: relative;
  width: 14px;
  height: auto;
}
body .function .single .md input {
  position: absolute;
  top: -15px;
  z-index: 100;
  opacity: 0;
}
body .function .single .md input:checked + div {
  background-image: url(../img/selected.png);
}
body .function .single .md div {
  position: absolute;
  top: -12px;
  width: 14px;
  height: 14px;
  background: url(../img/unselected.png) no-repeat;
  background-size: cover;
}
body .function .so {
  margin-left: 11px;
}
body .function .so a {
  height: 24px;
  padding: 6px 18px;
  background-color: #ff603b;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}
body .function .so a img {
  margin-right: 6px;
  vertical-align: text-bottom;
}
body #titleT {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #adadad;
}
body .tabT {
  padding: 36px 20px;
  background-color: #fff;
  margin: 0 40px 20px 40px;
  border-radius: 8px;
}
body .tabT #title {
  text-align: center;
  font-size: 20px;
  color: #404040;
  margin-bottom: 28px;
  font-weight: bold;
}
body .tabT #aPrint {
  padding: 5px 7px 5px 25px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-top: 33px;
  color: #404040;
  text-decoration: none;
  cursor: pointer;
  background: url(../img/print.png) no-repeat 7px;
  background-size: 13px;
}
body .footer {
  background-color: #34373d;
  height: 40px;
  color: #67696d;
  font-size: 12px;
  line-height: 40px;
}
.table th {
  text-align: center;
  color: #333;
  background-color: #f0f1f2;
  display: table-cell;
  vertical-align: inherit !important;
}
.table td {
  text-align: center;
  display: table-cell;
  vertical-align: inherit !important;
  background-color: #f9f9f9 !important;
  font: 14px/16px tahoma, helvetica, arial, '\5FAE\8F6F\96C5\9ED1';
}
.quit {
    position: absolute;
    top: 75px;
    right: 55px;
    display: none;
    width: 300px;
    background-color: #fff;
    color: #404040;
    font-weight: 580;
    font-size: 12px;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.3);
    -ms-box-shadow: 0 0 12px rgba(0,0,0,.3);
    box-shadow: 0 0 12px rgba(0,0,0,.3);;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.quit:before{
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.quit .user_tip{
    padding: 20px 0 20px 22px;
}
.quit .q_hr{
    background-color: #e5e5e5;
    margin: 0;
}
.img_person{
    width: 42px;
    height: 42px;
    background-image: url(../img/person.png);
    background-size: cover;
    display: inline-block;
}
.img_loct{
    width: 9px;
    height: 12px;
    background-image: url(../img/location.png);
    background-size: cover;
    display: inline-block;
    vertical-align: text-top;
    margin: 0 0px 0 8px;
}
.img_change{
    width: 16px;
    height: 16px;
    background-image: url(../img/lock.png);
    background-size: cover;
    display: inline-block;
    vertical-align: text-bottom;
}
.quit .tip_person{
    height: 42px;
    display: inline-block;
}
.quit .school_name{
    font-size: 12px;
    color: #767676;
    font-weight:400 ;
}
.quit .img_quit{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/quit.png);
    background-size: cover;
    vertical-align: text-bottom;
}
.quit .fn_info{
    padding: 0 22px;
}
.quit .q_h{
    height: 44px;
    line-height: 44px;
}
.quit span {
    display: inline-block;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
}

.img_person{
	width: 42px;
	height: 42px;
	background-image: url(../img/person.png);
	background-size: cover;
	display: inline-block;
}
.img_loct{
	width: 9px;
	height: 12px;
	background-image: url(../img/location.png);
	background-size: cover;
	display: inline-block;
	vertical-align: text-top;
	margin: 0 0px 0 8px;
}
.img_change{
	width: 16px;
	height: 16px;
	background-image: url(../img/lock.png);
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
.quit .tip_person{
	height: 42px;
	display: inline-block;
}
.quit .school_name{
	font-size: 12px;
	color: #767676;
	font-weight:400 ;
}
.quit .img_quit{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../img/quit.png);
	background-size: cover;
	vertical-align: text-bottom;
}
.quit .fn_info{
	padding: 0 22px;
}
.quit .q_h{
	height: 44px;
	line-height: 44px;
}
.quit span {
	display: inline-block;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 13px;
}
.healthTab {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}
.healthTab th,
.healthTab td {
  border: 1px solid #ababab;
  padding: 15px 10px;
}
.stu-list {
  padding-left: 20px;
  height: 100%;
}
.stu-list ul {
  margin: 0;
  padding: 0;
  width: 100%;
  /*border-right: 2px solid #edeef0;*/
  padding-bottom: 20px;
}
.stu-list .scoll{
	width: 70%;
	max-height: 430px;
	padding-right: 10px;
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
}
.stu-list ul li {
  list-style: none;
  font-size: 12px;
  line-height: 12px;
  height: 40px;
  line-height: 40px;
  position: relative;
  right: -3px;
}
.stu-list ul li a {
  color: #767676;
  width: 100%;
  display: block;
}
.stu-list ul li a:active,
.stu-list ul li a:link,
.stu-list ul li a:active,
.stu-list ul li a:visited {
  text-decoration: none;
}
.stu-list ul li a .stu-ico {
  display: inline-block;
  width: 26px;
  height: 18px;
  background-size: 100%;
  float: right;
  margin-right: 7px;
  margin-top: 11px;
}
.stu-list ul li a .stu-ico.acitve {
  background: url(../img/selectedsmal.png) no-repeat;
}
.stu-list ul li.active {
  /*border-right: 2px solid #C0C1C2;*/
}
.dropdown-menu {
  top: 22%;
}
#health #aPrint {
  display: block;
  width: auto;
  height: 26px;
  margin: 0;
  font-size: 14px;
  float: right;
}
#scoreIn #form {
  text-align: center;
}
#scoreIn #form #file {
  height: 46px;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#assigned a:hover,
#assigned a:active,
#assigned a:link,
#assigned a:visited {
  text-decoration: none;
}
#assigned ul {
  margin: 0;
  padding: 0;
}
#assigned ul li {
  list-style: none;
}
#assigned .guanli {
  margin-top: 40px;
}
#assigned .guanli .left-sib {
  height: 100%;
}
#assigned .guanli .left-sib ul {
  border-right: 3px solid #edeef0;
  height: 100%;
}
#assigned .guanli .left-sib ul li.active {
  border-right: 3px solid #FF603B;
}
#assigned .guanli .left-sib ul li.active a {
  color: #FF603B;
}
#assigned .guanli .right-content .items {
  width: 420px;
  height: 260px;
  margin-left: 40px;
  float: left;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 25px;
  position: relative;
}
#assigned .guanli .right-content .items ul li {
  margin-bottom: 15px;
  font-size: 16px;
}
#assigned .guanli .right-content .items ul li:first-child {
  margin-bottom: 20px;
}
#assigned .guanli .right-content .items ul li .names {
  font-size: 18px;
}
#assigned .guanli .right-content .items ul li .lab {
  display: inline-block;
  width: 14%;
  float: left;
  font-size: inherit;
  color: #adadad;
}
#assigned .guanli .right-content .items ul li .phone-lab {
    display: inline-block;
    width: 14%;
    float: left;
    font-size: inherit;
    color: #adadad;
}
#assigned .guanli .right-content .items ul li p {
  width: 86%;
  float: left;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #767676;
  font-size: inherit;
}
#assigned .guanli .right-content .items ul li .t_s{
	max-height: 110px;
	overflow: auto;
}
#assigned .guanli .right-content .items:hover {
  box-shadow: 0px 0px 15px #D7D7DD;
}
#assigned .guanli .right-content .items:hover .toolbar {
  display: block;
}
#assigned .guanli .right-content .items .toolbar {
  display: none;
  height: 40px;
  line-height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#assigned .guanli .right-content .items .toolbar a {
  color: #FF603B;
  margin-right: 20px;
  float: right;
  cursor: pointer;
}
#assigned .change-alert {
  display: none;
  width: 450px;
  position: absolute;
  margin-left: -225px;
  top: 80px;
  left: 50%;
  background: #fff;
  padding: 48px;
  z-index:3
}
#assigned .change-alert img{
    width: 30px;
    height: 30px;
    margin-left: 363px;
    margin-top: -72px;
    cursor: pointer;
}
#assigned .change-alert h4 {
  width: 100%;
  margin-bottom: 30px;
  /*padding-left: ;*/
}
#assigned .change-alert .alert-btn {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #ff603b;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
  cursor:pointer;
}
#assigned .change-alert a {
  color: #404040;
}
#assigned .change-alert a:hover,
#assigned .change-alert a:active,
#assigned .change-alert a:link,
#assigned .change-alert a:visited {
  text-decoration: none;
}
#assigned .change-alert ul .lab {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  background: #fff;
  top: -10px;
  left: 11px;
  color: #D7D7DD;
  margin: 0;
}
#assigned .change-alert ul .phone-lab {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    background: #fff;
    top: -10px;
    left: 11px;
    color: #D7D7DD;
    margin: 0;
}
#assigned .change-alert ul .input-li {
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid #D7D7DD;
  margin-bottom: 20px;
}
#assigned .change-alert ul .input-li input {
  height: 100%;
  width: 100%;
  border-width: 0;
  padding-left: 10px;
}
#assigned .change-alert ul .input-li input:focus {
  outline: none;
}
#assigned .change-alert ul .class-box {
  width: 100%;
  min-height: 36px;
  padding-top: 11px;
  border: 1px solid #D7D7DD;
  position: relative;

}
#assigned .change-alert ul .class-box .class-item {
  display: block;
  float: left;
  margin-left: 10px;
  width: 90px;
  height: 26px;
  padding: 0 6px;
  position: relative;
  line-height: 26px;
  border: 1px solid #D7D7DD;
  border-radius: 13px;
  cursor: pointer;
}
#assigned .change-alert ul .class-box .class-item:hover{
	background-color: rgba(50,40,50,.3);
	color: antiquewhite;
}
#assigned .change-alert ul .class-box .class-item:hover:after{
	content:"";
	position: absolute;
	top: -5px;
	right: -2px;
	width: 16px;
	height: 16px;
	background-image: url(../img/delete.png);
	background-size: cover;
	z-index: 2;
}
#assigned .change-alert ul .class-box .class-item .del-ico{
	width:16px;
	height:16px;
	background: url(../img/delete.png) no-repeat;
	background-size:100%;
	position:absolute;
	top: -6px;
  left: 75px;
}
#assigned .change-alert ul .class-box .ico {
  display: block;
  width: 23px;
  height: 18px;
  background: url(../img/moredownbig.png) no-repeat;
  background-size: 100%;
  float: right;
  margin-right: 12px;
  margin-top: 3px;
  cursor:pointer;
}
#assigned .change-alert ul .class-box .ico-up{
  display: block;
  width: 23px;
  height: 18px;
  background: url(../img/moreupbig.png) no-repeat;
  background-size: 100%;
  float: right;
  margin-right: 12px;
  margin-top: 3px;
  cursor:pointer;
}
#assigned .change-alert ul .class-box .class-test{
	position: relative;
	top:1px;
	width: 100%;
}
#assigned .change-alert ul .class-box .class-list {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 100%;
  display: none;
  height: auto;
  overflow: hidden;
  box-sizing: content-box;
  border-bottom: 1px solid #D7D7DD;
  border-right: 1px solid #D7D7DD;
  border-left: 1px solid #D7D7DD;
  background: #fafafa;
}
#assigned .change-alert ul .class-box .class-list ul {
  border-width: 0;
}
#assigned .change-alert ul .class-box .class-list ul li {
  height: 36px;
  line-height: 36px; 
}
#assigned .change-alert ul .class-box .class-list .left-sib {
  width: 40%;
  position: relative;
  max-height: 327px;
  top: 0;
  left: 0;
}
#assigned .change-alert ul .class-box .class-list .left-sib li {
  padding-left: 20px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #f2f2f2;
  cursor: pointer;
}

#assigned .change-alert ul .class-box .class-list .left-sib li.click-active {
	border-left:4px solid #FF2F2F ;
  border-right-width: 0;
  background-color: #fafafa;
}
#assigned .change-alert ul .class-box .class-list .left-sib li:last-of-type{
	border-bottom-width: 0;
}
#assigned .change-alert ul .class-box .class-list ::-webkit-scrollbar {
  width: 5px;
  background-color: #e0e0e0;
}
#assigned .change-alert ul .class-box .class-list ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #FF603B;
}
#assigned .change-alert ul .class-box .class-list .right-item {
  position: absolute;
  left: 44%;
  top: 0;
  width: 56%;
  max-height: 327px;
  overflow-y:auto;
  background: inherit;
}
#assigned .change-alert ul .class-box .class-list .right-item .checkbox-ico {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/select.png) no-repeat;
  background-size: 100%;
  float: right;
  margin-right: 15px;
  margin-top: 6px;
}
#assigned .change-alert ul .class-box .class-list .right-item .checkbox-ico-uncheck {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/unselectin.png) no-repeat;
  background-size: 100%;
  float: right;
  margin-right: 15px;
  margin-top: 6px;
}
#assigned .zhanghao {
  display: none;
}
#assigned .chengji {
  display: none;
}
#assigned .chengji .title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #404040;
}
#assigned .chengji .title:before {
  display: inline-block;
  content: " ";
  width: 4px;
  height: 17px;
  background: #FF603B;
  margin-right: 8px;
  border-radius: 4px;
}
#assigned .chengji .title2 {
  padding-left: 15px;
  margin-bottom: 36px;
  color: #767676;
  font-size: 12px;
}
#assigned .chengji .download-box {
  padding-left: 15px;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  float: left;
  border: 1px solid #E0E0E0;
  margin-right: 20px;
  margin-bottom: 13px;
  text-align: center;
  padding: 18px;
  position: relative;
  z-index: 1;
}
#assigned .chengji .download-box:hover .download-ico {
  display: block;
}
#assigned .chengji .download-box img {
  width: 63px;
  height: 82px;
    cursor: pointer;
}
#assigned .chengji .download-box span {
  display: block;
  margin-top: 21px;
  font-size: 13px;
  color: #404040;
}
#assigned .chengji .download-box .download-ico {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#assigned .chengji .download-box .download-ico a {
  display: block;
  width: 100%;
  height: 100%;
}
#assigned .chengji .download-box .download-ico a img {
  margin-top: 50px;
  width: 45px;
  height: 45px;
}
#assigned .chengji .sel-box {
  width: 100%;
  margin-bottom: 24px;
}
#assigned .chengji .sel-box .input {
  position: relative;
  height: 24px;
  line-height: 24px;
  margin-left: 14px;
  background-color: #fafbfc;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 0 8px;
  min-width: 125px;
}
#assigned .chengji .sel-box .input .h5 {
  color: #000;
  padding-right: 10px;
}
#assigned .chengji .sel-box .input .cR {
  color: #adadad;
}
#assigned .chengji .sel-box .input img {
  margin-left: 8px;
}
#assigned .chengji .sel-box .input .inputList {
  position: absolute;
  top: 22px;
  left: -1px;
  width: 102%;
  display: none;
  border-bottom: 1px solid #484c57;
  border-left: 1px solid #484c57;
  border-right: 1px solid #484c57;
  border-radius: 0 0 2px 2px;
  background-color: #41454e;
  padding-top: 2px;
  z-index: 100;
  color: #000;
  font-size: 12px;
  overflow-y: auto;
}
#assigned .chengji .sel-box .input .inputList .list {
  padding: 0 8px;
  max-height: 119px;
  overflow-y: auto;
}
#assigned .chengji .sel-box .input .inputList .list div {
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #575c69;
}
#assigned .chengji .sel-box .input .inputList .list div:last-of-type {
  border-bottom: none;
}
#assigned .chengji .sel-box .input .inputList .list::-webkit-scrollbar {
  width: 4px;
}
#assigned .chengji .sel-box .input .inputList .list::-webkit-scrollbar-track {
  background-color: #575c69;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 5px 0;
}
#assigned .chengji .sel-box .input .inputList .list::-webkit-scrollbar-thumb {
  background-color: #ff603b;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#assigned .chengji .sel-box .input .inputList .now {
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  background-color: #484c57;
}
#assigned .chengji .download-btn-box {
  width: 270px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 15px #D7D7DD;
  border-radius: 3px;
  margin-left: 15px;
  position: relative;
  z-index: 2;
}
#assigned .chengji .download-btn-box input {
  width: 100%;
  height: 100%;
  opacity: 0;
    cursor: pointer;
}
#assigned .chengji .download-btn-box .download-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  padding-top: 13px;
  left: 0;
  top: 0;
  z-index: -1;
  text-align: center;
}
#assigned .chengji .download-btn-box .download-btn img {
  height: 14px;
  width: 84px;
}
#assigned .chengji .file-list-box {
  margin-top: 28px;
  padding-left: 15px;
  margin-bottom: 36px;
}
#assigned .chengji .file-list-box ul li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 14px;
}
#assigned .chengji .file-list-box ul li .ico {
  display: inline-block;
  width: 25px;
  height: 30px;
  background: url(../img/down-img.png) no-repeat;
  background-size: 100%;
  margin-left: 12px;
  margin-right: 15px;
  float: left;
}
#assigned .chengji .file-list-box ul li .del {
  display: inline-block;
  float: left;
  width: 48px;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  border: 1px solid #767676;
  font-size: 12px;
  color: #767676;
  text-align: center;
  margin-top: 5px;
    cursor: pointer;
}
#assigned .chengji .file-list-box ul li .del:hover {
  border-color: #ff603b;
  color: #ff603b;
}
#assigned .chengji .sub-list {
  width: 100%;
}
#assigned .chengji .sub-list a {
  display: block;
  width: 270px;
  height: 50px;
  line-height: 50px;
  background: #ff603b;
  text-align: center;
  color: #fff;
  font-size: 17px;
  border-radius: 3px;
    cursor: pointer;
}
#assigned .stu-management a {
  color: #404040;
}
#assigned .stu-management a:hover,
#assigned .stu-management a:active,
#assigned .stu-management a:link,
#assigned .stu-management a:visited {
  text-decoration: none;
}
#assigned .stu-management .sel-box {
  width: 100%;
  margin-bottom: 24px;
}
#assigned .stu-management .sel-box .input {
  position: relative;
  height: 24px;
  line-height: 24px;
  margin-left: 14px;
  background-color: #fafbfc;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 0 8px;
  min-width: 125px;
}
#assigned .stu-management .sel-box .input .h5 {
  color: #000;
  padding-right: 10px;
}
#assigned .stu-management .sel-box .input .cR {
  color: #adadad;
}
#assigned .stu-management .sel-box .input img {
  margin-left: 8px;
}
#assigned .stu-management .sel-box .input .inputList {
  position: absolute;
  top: 22px;
  left: -1px;
  width: 102%;
  display: none;
  border-bottom: 1px solid #484c57;
  border-left: 1px solid #484c57;
  border-right: 1px solid #484c57;
  border-radius: 0 0 2px 2px;
  background-color: #41454e;
  padding-top: 2px;
  z-index: 100;
  color: #000;
  font-size: 12px;
  overflow-y: auto;
}
#assigned .stu-management .sel-box .input .inputList .list {
  padding: 0 8px;
  max-height: 119px;
  overflow-y: auto;
}
#assigned .stu-management .sel-box .input .inputList .list div {
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #575c69;
}
#assigned .stu-management .sel-box .input .inputList .list div:last-of-type {
  border-bottom: none;
}
#assigned .stu-management .sel-box .input .inputList .list::-webkit-scrollbar {
  width: 4px;
}
#assigned .stu-management .sel-box .input .inputList .list::-webkit-scrollbar-track {
  background-color: #575c69;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 5px 0;
}
#assigned .stu-management .sel-box .input .inputList .list::-webkit-scrollbar-thumb {
  background-color: #ff603b;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#assigned .stu-management .sel-box .input .inputList .now {
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  background-color: #484c57;
}
#assigned .stu-management .sel-box .so {
  margin-left: 11px;
}
#assigned .stu-management .sel-box .so a {
  height: 24px;
  padding: 6px 18px;
  background-color: #ff603b;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}
#assigned .stu-management .sel-box .so a img {
  margin-right: 6px;
  vertical-align: text-bottom;
}
#assigned .stu-management .add-stu-btn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #E0E0E0;
  text-align: center;
  font-size: 14px;
  color: #404040;
  border-radius: 3px;
  margin-bottom: 16px;
  margin-right: 15px;
  float: right;
  cursor: pointer;
}
#assigned .stu-management .add-stu-btn .ico {
  display: block;
  width: 19px;
  height: 20px;
  background: url(../img/add-ico.png) no-repeat;
  background-size: 100%;
  float: left;
  margin-top: 5px;
  margin-left: 11px;
}
#assigned .stu-management .table-bordered td {
  color: #404040;
}
#assigned .stu-management .table-bordered .toolbar {
  width: 100%;
}
#assigned .stu-management .table-bordered .toolbar a {
  width: 40px;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  border: 1px solid #767676;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  color: #767676;
  margin-right: 5px;
  cursor: pointer;
}
#assigned .stu-management .table-bordered .toolbar a:hover {
  border-color: #ff603b;
  color: #ff603b;
}
#assigned .stu-management .add-stu-list {
  display: block;
  width: 450px;
  height: 750px;
  position: absolute;
  top: 10px;
  right: 35%;
  background: #fff;
  padding: 48px;
  z-index: 3;

}
#assigned .stu-management .add-stu-list img{
    width: 30px;
    height: 30px;
    margin-left: 366px;
    margin-top: -80px;
    cursor:pointer;
}
#assigned .stu-management .add-stu-list h4 {
  width: 100%;
  margin-bottom: 30px;
  /*padding-left: ;*/
}
#assigned .stu-management .add-stu-list .alert-btn {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #ff603b;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
#assigned .stu-management .add-stu-list a {
  color: #404040;
}
#assigned .stu-management .add-stu-list a:hover,
#assigned .stu-management .add-stu-list a:active,
#assigned .stu-management .add-stu-list a:link,
#assigned .stu-management .add-stu-list a:visited {
  text-decoration: none;
}
#assigned .stu-management .add-stu-list ul {
  background: #fff;
}
#assigned .stu-management .add-stu-list ul .lab {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  background: #fff;
  top: -10px;
  left: 11px;
  color: #D7D7DD;
  margin: 0;
}
#assigned .stu-management .add-stu-list ul li.stu_get{
	border: none;
}
#assigned .stu-management .add-stu-list ul li.stu_get div{
	display: inline-block;
	width: 170px;
	height: 48px;
	line-height: 48px;
}
#assigned .stu-management .add-stu-list ul li {
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid #D7D7DD;
  margin-bottom: 20px;
  color: #adadad;
}
#addSure{
	cursor: pointer;
}
#assigned .stu-management .add-stu-list ul li input {
  height: 100%;
  width: 100%;
  color: inherit;
  border-width: 0;
  padding-left: 10px;
}
#assigned .stu-management .add-stu-list ul li input:focus {
  outline: none;
}
#assigned .stu-management .add-stu-list ul .no-border {
  border-width: 0;
}
#assigned .stu-management .add-stu-list ul .sex-li {
  padding-top: 10px;
}
#assigned .stu-management .add-stu-list ul .sex-li .ico {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(../img/radio-no.png) no-repeat;
  background-size: 100%;
  position: relative;
  top: 5px;
  margin-left: 5px;
}
#assigned .stu-management .add-stu-list ul .sex-li .acitve {
  background: url(../img/radio-check.png) no-repeat;
  background-size: 100%;
}
#assigned .stu-management .add-stu-list ul .text-box {
  height: 80px;
}
#assigned .stu-management .add-stu-list ul .text-box textarea {
  width: 100%;
  height: 100%;
  border-width: 0;
  resize: none;
}
#assigned .stu-management .add-stu-list ul .class-box {
  width: 100%;
  height: 48px;
  padding-top: 11px;
  border: 1px solid #D7D7DD;
  position: relative;
}
#assigned .stu-management .add-stu-list ul .class-box .class-item {
  display: block;
  float: left;
  margin-left: 10px;
  width: 90px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #D7D7DD;
  border-radius: 13px;
}
#assigned .stu-management .add-stu-list ul .class-box .ico {
  display: block;
  width: 14px;
  height: 8px;
  background: url(../img/moredown.png) no-repeat;
  background-size: 100%;
  float: right;
  margin-right: 12px;
  margin-top: 10px;
}
/*# sourceMappingURL=mostly.css.map */
/*日常训练*/
.day_data{
    padding: 48px;
    background-color: #fff;
    margin: 40px 40px 20px 40px;
    border-radius: 8px;
}
.vline{
    height: 17px;
    width: 4px;
    margin-right: 6px;
    background-color: #ff603b;
    display: inline-block;
    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius:2px ;
}
.day_data .day_tr{
    height: 64px;
}
.day_data .day_tr .day_title{
    display: inline-block;
    font-size: 14px;
    color: #404040;
    vertical-align:text-top;
}
.day_data .day_tr .select_box{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
}
.day_data .day_tr .select_box span{
    display: inline-block;
    margin-right: 8px;
    color: #767676;
}
.day_data .day_tr .select_box .select_group{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ff603b;
    height: 30px;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
    border-radius:15px ;
    overflow: hidden;
}
.day_data .day_tr .select_box .select_group div{
    display: inline-block;
    width: 68px;
    text-align: center;
    cursor: pointer;
    border-left:1px solid #ff603b ;
}
.day_data .day_tr .select_box .select_group div:first-of-type{
    border: none;
}
.day_data .day_tr .select_box .select_group .def{
    color: #ff603b;
}
.day_data .day_tr .select_box .select_group .def:hover{
    background-color: #ffe7e2;
}
.day_data .day_tr .select_box .select_group .over{
    color: #fff;
    background-color: #FF603B;
}
.day_data #day_chart{
    width: 100%;
    height: 400px;
}
.day_tip{
    padding:0 15px;
}
.day_tip div{
    text-align: center;
}
.day_tip .day_ty{
    color: #FFFFFF;
    font-size: 30px;
    padding: 7px 0 26px 0;
}
.day_tip .day_sixh{
    color: #cacaca;
    font-size: 12px;
    line-height: 55px;
}
.day_tip .day_sixc{
    color: #cacaca;
    font-size: 12px;
}
/*修复bug*/
.row_bug{
	padding-left:35px ;
}
/*学生管理样式修改*/
#stuInfoAddr>tbody>tr:not(:first-child)>th{
	background-color: #fff !important;
}
#stuInfoAddr>tbody>tr>th:last-of-type{
	width: 120px;
}
#stuInfoAddr>tbody>tr>th:last-of-type>div{
	width: 120px;
}
.m-chart{
	width: 90%;
	max-width: 1190px;
	margin: 0 auto;
	text-align: center;
}
/*下拉列表通用样式*/
.t_drop{
	position: absolute;
	top: 22px;
	left: -1px;
	width: 102%;
	display: none;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #fafbfc;
	padding-top: 2px;
	z-index: 100;
	color: #adadad;
	font-size: 12px;
	overflow-y: auto;
}
.t_drop .t_list{
	max-height: 119px;
	overflow-y: auto;
}
.t_drop .t_list div{
	padding: 0 8px;
}
.t_drop .t_list div:hover{
	color: #333;
	background-color: #f0f1f2;
}
.t_drop .t_list div span{
	display: block;
	width: 100%;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid gainsboro;
}
.t_drop .t_list div:last-of-type span{
	border: none;
}
#titleName{
    text-align: center;
    font-size: 20px;
    color: #404040;
    margin-bottom: 28px;
    font-weight: bold
}
#titleStu{
    text-align: center;
    font-size: 20px;
    color: #404040;
    margin-bottom: -25px;
    font-weight: bold

}
.inputList .now {
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  background-color: #484c57;
}